

<html>
<head>
    <title>
     reports
    </title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script>


        //build html elements and show the results
        function ShowInHtml(TheData){
            for(j=0;j<24;j++) {

                //create the <ul>tag and <label> ,append to #content
                var element=document.getElementById("content");
                var NewUl=document.createElement("ul");
                var NewLabel=document.createElement("label");
                var NewLabelText= document.createTextNode("the Tweets of hour "+j);
                NewLabel.appendChild(NewLabelText);
                NewUl.appendChild(NewLabel);
                element.appendChild(NewUl);

                //literate array and get the tweets at j hour
                for (i=0;i<TheData.length;i++){
                    var AnObject=  JSON.parse(TheData[i]);
                    if(AnObject.hour==j) {

                        // create <li>
                        var NewLi=document.createElement("li");
                        var NewSpan=document.createElement("span") ;
                        var NewLiScore=document.createTextNode(AnObject.score);
                        var NewLiTweet=document.createTextNode(" "+AnObject.tweet);

                        NewSpan.appendChild(NewLiScore);
                        NewLi.appendChild(NewSpan);
                        NewLi.appendChild(NewLiTweet);
                        NewLabel.appendChild(NewLi);

                    }
                }
            }
        }
        //show results based on every 5 mins
        function ShowChannelResult(TheData){
            for(j=0;j<24*12;j++) {
                var theHour=Math.floor(j/12);
                var StartMin=(j*5)%60;
                var EndMin=(j*5+4)%60;
                //create the <ul>tag and <label> ,append to #content
                var element=document.getElementById("content");
                var NewUl=document.createElement("ul");
                var NewLabel=document.createElement("label");
                var NewLabelText= document.createTextNode("hour "+theHour + " ( "+StartMin+"min "+"- "+EndMin+"min )");

                NewLabel.appendChild(NewLabelText);
                NewUl.appendChild(NewLabel);
                element.appendChild(NewUl);

                //literate array and get the tweets between mins
                for (i=0;i<TheData.length;i++){
                    var AnObject=  JSON.parse(TheData[i]);

                    if(AnObject.hour==theHour && AnObject.startmin>=StartMin && AnObject.endmin<=EndMin) {

                        // create <li>
                        var NewLi=document.createElement("li");
                        var NewSpan=document.createElement("span") ;
                        var NewLiScore=document.createTextNode(AnObject.score);
                        var NewLiTweet=document.createTextNode(" "+AnObject.tweet);
                        NewSpan.appendChild(NewLiScore);
                        NewLi.appendChild(NewSpan);
                        NewLi.appendChild(NewLiTweet);
                        NewLabel.appendChild(NewLi);

                    }
                }
            }
        }

        function loadProgressBar(){

            $( "#progress" ).progressbar({disabled:true,value: false});
            $( "#progress" ).progressbar("option","disabled",false );

        }

        function destroyProgressBar(){

            $( "#progress" ).progressbar( "option","disabled",true );
            $( "#progress" ).progressbar( "destroy" );
        }

        function EmptyContent(){
            var element=$( "#content" );
            element.empty();
        }

        function EnableButton(){
            $("#button1").removeAttr("disabled");
            $("#button2").removeAttr("disabled");
            $("#button3").removeAttr("disabled");

        }

        function DisableButton(){
            $("#button1").attr("disabled","disabled");
            $("#button2").attr("disabled","disabled");
            $("#button3").attr("disabled","disabled");
        }


                //datepicker
                $(function() {
                        $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
                        $( "#datepicker1" ).datepicker({dateFormat: 'yy-mm-dd'});
                        $( "#datepicker2" ).datepicker({dateFormat: 'yy-mm-dd'});


                });


                //get the result based on the Select Team and Select Date

                function update(){
                        EmptyContent();
                         //get the value of the input
                        var TeamSelected=document.getElementById("selectTeam");
                        var TeamSelectedValue=TeamSelected.options[TeamSelected.selectedIndex].value;
                        var DateSelectedValue=  $( "#datepicker" ).val() ;

                        if (DateSelectedValue==""){
                            alert("select the date before processing your request!")
                        }
                        //run only after select a date
                        else {
                        DisableButton();
                        loadProgressBar();
                        $.ajax({
                            url: "/MyUrl",
                            data: {

                                team: TeamSelectedValue,
                                date: DateSelectedValue
                            },error: function(){
                                alert("an error happened");
                                EnableButton();
                                destroyProgressBar();


                            },
                            success: function( data ) {

                                  destroyProgressBar();
                                  var TheData=JSON.parse(data);
                                  ShowInHtml(TheData);

                                  alert("complete") ;
                                  EnableButton();

                            }
                        });

                      }

                }

             // get result based on the Select Channel and Select Date
            function update1(){
                    EmptyContent();
                   //get the value of the input
                     var ChannelSelected=document.getElementById("selectChannel");
                     var ChannelSelectedValue=ChannelSelected.options[ChannelSelected.selectedIndex].value;
                     var DateSelectedValue1=  $( "#datepicker1" ).val() ;


                   if (DateSelectedValue1==""){
                      alert("select the date before processing your request!")
                  }
                    //run only after select a date
                  else {
                       DisableButton();
                       loadProgressBar();

                       $.ajax({
                          url: "/MyUrl1",
                          data: {
                                team: ChannelSelectedValue,
                                date: DateSelectedValue1
                           },error: function(){
                                alert("an error happened");
                                EnableButton();
                                destroyProgressBar();
                           },
                            success: function( data ) {
                               destroyProgressBar();
                               var TheData=JSON.parse(data);
                               ShowChannelResult(TheData);
                               EnableButton();
                          }

                       });

                   }

            }

        //get the results of multiple tables
        function update2(){
            EmptyContent();
            //get the value of the input
            var TeamSelected=document.getElementById("selectTeam1");
            var TeamSelectedValue=TeamSelected.options[TeamSelected.selectedIndex].value;
            var DateSelectedValue=  $( "#datepicker2" ).val() ;


            if (DateSelectedValue==""){
                alert("select the date before processing your request!")
            }
            //run only after select a date
            else {
                DisableButton();
                loadProgressBar();

                $.ajax({
                    url: "/MyUrl2",
                    data: {
                        team: TeamSelectedValue,
                        date: DateSelectedValue
                    },error: function(){
                        alert("an error happened");
                        EnableButton();
                        destroyProgressBar();
                    },
                    success: function( data ) {
                        destroyProgressBar();
                        var TheData=JSON.parse(data);
                        ShowChannelResult(TheData);
                        EnableButton();
                    }

                });

            }

        }



    </script>

</head>
    <body>
    <fieldset>
         <h3>Get results from tweets_by_team</h3>
          <label>Team:</label>
                <select id="selectTeam">
                    <option value="gonzaga-bulldogs">gonzaga-bulldogs--2</option>
                    <option value="indiana-hoosiers">indiana-hoosiers--2</option>
                    <option value="florida-gators">florida-gators--2</option>
                    <option value="michigan-wolverines">michigan-wolverines--2</option>
                    <option value="duke-blue-devils">duke-blue-devils--2</option>
                    <option value="kansas-jayhawks">kansas-jayhawks--2</option>
                    <option value="arizona-wildcats">arizona-wildcats--2</option>
                    <option value="miami-hurricanes">miami-hurricanes--2</option>
                    <option value="syracuse-orange">syracuse-orange--2</option>
                    <option value="ohio-state-buckeyes">ohio-state-buckeyes--2</option>
                    <option value="louisville-cardinals">louisville-cardinals--2</option>
                    <option value="michigan-state-spartans">michigan-state-spartans--2</option>
                    <option value="kansas-state-wildcats">kansas-state-wildcats--2</option>
                    <option value="butler-bulldogs">butler-bulldogs--2</option>
                    <option value="new-mexico-lobos">new-mexico-lobos--2</option>
                    <option value="creighton-bluejays">creighton-bluejays</option>
                    <option value="creighton-blue-jays">creighton-blue-jays</option>
                    <option value="cincinnati-bearcats">cincinnati-bearcats--2</option>
                    <option value="minnesota-golden-gophers">minnesota-golden-gophers--2</option>
                    <option value="oregon-ducks">oregon-ducks--2</option>
                    <option value="georgetown-hoyas">georgetown-hoyas--2</option>
                    <option value="missouri-tigers">missouri-tigers--2</option>
                    <option value="oklahoma-state-cowboys">oklahoma-state-cowboys--2</option>
                    <option value="pittsburgh-panthers">pittsburgh-panthers--2</option>
                    <option value="marquette-golden-eagles">marquette-golden-eagles</option>
                    <option value="notre-dame-fighting-irish">notre-dame-fighting-irish--2</option>
                </select>
          <br>
          <label>Date:</label>
            <input type="text" id="datepicker" />
          <button id="button1" onclick="update()" >update</button>
    </fieldset>



    <fieldset>
        <h3>Get channel results from tweets_by_team </h3>
          <label>Channel:</label>
            <select id="selectChannel">
              <option value="MarchMadness">March-Madness</option>
              <option value="LA">LA</option>
              <option value="Boston">Boston</option>
              <option value="BayArea">BayArea</option>
              <option value="NewYork">NewYork</option>
              <option value="Seattle">Seattle</option>
              <option value="NBA">NBA</option>
              <option value="EPL">EPL</option>
              <option value="Chicago">Chicago</option>
            </select>
           <br>

          <label>Date:</label>
            <input type="text" id="datepicker1" />
          <button id="button2" onclick="update1()">update</button>
    </fieldset>


    <fieldset>
        <h3>Get results from multiple tables</h3>
        <label>Team:</label>
        <select id="selectTeam1">
            <option value="gonzaga-bulldogs">gonzaga-bulldogs--2</option>
            <option value="indiana-hoosiers">indiana-hoosiers--2</option>
            <option value="florida-gators">florida-gators--2</option>
            <option value="michigan-wolverines">michigan-wolverines--2</option>
            <option value="duke-blue-devils">duke-blue-devils--2</option>
            <option value="kansas-jayhawks">kansas-jayhawks--2</option>
            <option value="arizona-wildcats">arizona-wildcats--2</option>
            <option value="miami-hurricanes">miami-hurricanes--2</option>
            <option value="syracuse-orange">syracuse-orange--2</option>
            <option value="ohio-state-buckeyes">ohio-state-buckeyes--2</option>
            <option value="louisville-cardinals">louisville-cardinals--2</option>
            <option value="michigan-state-spartans">michigan-state-spartans--2</option>
            <option value="kansas-state-wildcats">kansas-state-wildcats--2</option>
            <option value="butler-bulldogs">butler-bulldogs--2</option>
            <option value="new-mexico-lobos">new-mexico-lobos--2</option>
            <option value="creighton-bluejays">creighton-bluejays</option>
            <option value="creighton-blue-jays">creighton-blue-jays</option>
            <option value="cincinnati-bearcats">cincinnati-bearcats--2</option>
            <option value="minnesota-golden-gophers">minnesota-golden-gophers--2</option>
            <option value="oregon-ducks">oregon-ducks--2</option>
            <option value="georgetown-hoyas">georgetown-hoyas--2</option>
            <option value="missouri-tigers">missouri-tigers--2</option>
            <option value="oklahoma-state-cowboys">oklahoma-state-cowboys--2</option>
            <option value="pittsburgh-panthers">pittsburgh-panthers--2</option>
            <option value="marquette-golden-eagles">marquette-golden-eagles</option>
            <option value="notre-dame-fighting-irish">notre-dame-fighting-irish--2</option>
            <option value="los-angeles-lakers">los-angeles-lakers</option>
        </select>
        <br>
        <label>Date:</label>
        <input type="text" id="datepicker2" />
        <button id="button3" onclick="update2()" >update</button>
    </fieldset>



        <div id="progress"></div>
        <div id="content"></div>

    </body>

</html>