#content{

    margin-top:0px;
    border-top:1px solid #dcdcdc;
    overflow-y: scroll;
    height:600px;
    width:1156px;
    clear:both;
}
#content ul{

    margin:0;
    padding:8px;
    border:1px solid black;

}
#content label{
    top:19px;

}
#content li {
    padding:5px;
    list-style: none;
    margin-left:250px;
    font-size:70%;
}
#content li:first-child{

    margin-top:-20px;
}
#content li span{
    color:red;
    margin-right:20px;
}
#progress{
    margin-top:150px;
    height:10px;
    width:1156px;

}
fieldset{
    width:350px;
    float:left;
    height:120px;
    margin-right:12px;

}

